/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
* {
  margin: 0;
}

body {
  overflow: hidden;
  font-family: "Kanit", sans-serif;
}

header {
  width: 100%;
  height: 10.5vh;
  display: flex;
}
header .mainBar {
  font-family: "Kanit", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}
header .mainBar .menuBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border-radius: 50%;
  padding: 5px 6px;
  color: #232323;
  transition: 0.3s;
}
header .mainBar .menuBtn i {
  pointer-events: none;
}
header .mainBar .menuBtn:active {
  background-color: rgba(128, 128, 128, 0.605);
}
header .mainBar .mainTitle {
  font-size: 15px;
}
header .mainBar .searchBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
}
header .switchBar {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 10px;
  padding-bottom: 0;
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 1;
  background-color: white;
}
header .switchBar button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  padding: 5px 15px;
}
header .switchBar button:nth-child(1) {
  border-bottom: 4px solid rgb(255, 217, 25);
}

main {
  background-color: rgb(241, 241, 241);
  overflow-x: hidden;
  height: 82.5vh;
}
main .receiveContainer {
  font-family: "Kanit", sans-serif;
}
main .receiveContainer .addReceiveBtn {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 75px;
  right: 25px;
  background-color: rgb(255, 217, 25);
  border: none;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
}
main .receiveContainer .addReceiveBtn i {
  font-size: 15px;
}
main .receiveContainer .addReceiveBtn:focus {
  background-color: rgb(199, 169, 20);
}
main .menuToggle {
  transform: translateX(0%);
}
main .infoBox {
  width: 70%;
  max-width: 300px;
  height: 130px;
  position: absolute;
  bottom: 70px;
  left: 15px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.047) 0px 0px 40px;
  padding: 10px 15px;
  box-sizing: border-box;
}
main .infoBox h1 {
  font-size: 4.5vw;
}
main .infoBox span {
  color: grey;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 8px;
  font-size: 3.5vw;
}
main .infoBox span i {
  margin: 0 5px;
  padding: 2.5px 3px;
  border: 2px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .packageBox {
  width: 100%;
  height: 160px;
  margin: 10px 0;
  padding: 10px 15px;
  box-sizing: border-box;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  transition: 0.3s;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
}
main .packageBox .packageInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  pointer-events: none;
}
main .packageBox .packageInfo .trackingNumber span {
  font-size: 13px;
}
main .packageBox .packageInfo p {
  font-size: 11px;
  text-transform: uppercase;
  color: Grey;
}
main .packageBox .moreBtn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  pointer-events: none;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
main .packageBox .moreBtn i {
  color: rgb(255, 217, 25);
  font-size: 15px;
  pointer-events: none;
}
main .packageBox .moreBtn p {
  pointer-events: none;
}
main .packageBox:active {
  background-color: rgb(160, 160, 160);
}
main .addReceiveBtn {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 75px;
  right: 25px;
  background-color: rgb(255, 217, 25);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
main .addReceiveBtn i {
  font-size: 15px;
}
main .addReceiveBtn:focus {
  background-color: rgb(199, 169, 20);
}
main .infoBox {
  width: 70vw;
  height: 130px;
  position: absolute;
  bottom: 70px;
  left: 15px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.047) 0px 0px 40px;
  padding: 10px 15px;
  box-sizing: border-box;
}
main .infoBox h1 {
  font-size: 5vw;
}
main .infoBox span {
  color: grey;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 8px;
  font-size: 4vw;
}
main .infoBox span i {
  margin: 0 5px;
  padding: 2.5px 3px;
  border: 2px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  z-index: 1;
}
footer div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 7vh;
}
footer div button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer div button span {
  position: relative;
  top: 3px;
}
footer div button i {
  font-size: 17px;
}
footer div button .fa-arrow-right {
  transform: rotateZ(-45deg);
}
footer div button .fa-arrow-left {
  transform: rotateZ(-45deg);
}
footer div .slider {
  width: 100%;
  height: 80px;
  background-color: rgb(255, 217, 25);
  background-size: cover;
  background-position: 50%;
}

.mainContainer {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.3s;
  position: relative;
}

.mainToggle {
  transform: translate(50%, 3.5%) scale(80%);
  cursor: pointer;
}

.sideMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-150%);
  transition: 0.3s;
  height: 100%;
  width: 100%;
}
.sideMenu .logo {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 55px;
  top: 105px;
}
.sideMenu .logo img {
  width: 140px;
}
.sideMenu .menuBtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  height: 530px;
}
.sideMenu .menuBtns button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  text-align: left;
  padding-left: 60px;
  box-sizing: border-box;
  transition: 0.3s;
}
.sideMenu .menuBtns button i {
  color: rgb(255, 217, 25);
  margin-right: 10px;
}
.sideMenu .menuBtns button:hover {
  background-color: rgb(195, 195, 195);
}
.sideMenu .menuBtns .logOutBtn {
  position: absolute;
  bottom: 0;
}

.sideMenuToggle {
  transform: translateX(0%) translateY(-50%);
}

.pointerEventsNone {
  pointer-events: none;
}

.exit {
  transform: translate(0%, 17%) scale(100%);
  width: 40%;
  height: 555px;
  z-index: 9;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.exitToggle {
  display: block;
}

#windows {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}
#windows .add-package-page {
  transition: 0.3s;
  transform: translateX(100%);
  position: absolute;
  width: 100%;
  z-index: 2;
}
#windows .add-package-page .header {
  height: 7vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-family: "Kanit", sans-serif;
  border-bottom: 1px solid rgba(207, 205, 205, 0.479);
  color: #232323;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 10px;
}
#windows .add-package-page .header button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 23px;
  cursor: pointer;
  border-radius: 50%;
  padding: 4px 6px;
  color: #232323;
  transition: 0.3s;
}
#windows .add-package-page .header button i {
  position: relative;
  top: 1px;
}
#windows .add-package-page .header button:focus {
  background-color: rgba(128, 128, 128, 0.605);
}
#windows .add-package-page .header h1 {
  font-size: 15px;
}
#windows .add-package-page .main {
  height: 93vh;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  gap: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
#windows .add-package-page .main form {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
#windows .add-package-page .main form input {
  height: 40px;
  width: 100%;
  border: 2px solid rgba(207, 205, 205, 0.479);
  font-weight: 600;
  text-indent: 10px;
  outline: none;
}
#windows .add-package-page .main form input::placeholder {
  color: rgb(169, 169, 169);
}
#windows .add-package-page .main form .counter-number, #windows .add-package-page .main form .counter-name {
  position: relative;
  top: -11px;
  left: 15px;
  font-size: 13px;
  color: rgb(169, 169, 169);
}
#windows .add-package-page .main form h1 {
  font-size: 16px;
}
#windows .add-package-page .main form button {
  border: none;
  width: 100%;
  height: 45px;
  font-weight: 600;
  color: #232323;
  cursor: pointer;
  background-color: rgb(255, 217, 25);
  margin-top: 25px;
}
#windows .add-package-page .main form button:disabled {
  background-color: rgba(99, 99, 99, 0.141);
  color: rgba(128, 128, 128, 0.605);
  cursor: default;
}
#windows .menuToggle {
  transform: translateX(0%);
}
#windows .packageInfo {
  transition: 0.3s;
  transform: translateX(100%);
  position: absolute;
  width: 100%;
  z-index: 2;
}
#windows .packageInfo .header {
  height: 7vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-family: "Kanit", sans-serif;
  border-bottom: 1px solid rgba(207, 205, 205, 0.479);
  color: #232323;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 10px;
}
#windows .packageInfo .header button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 23px;
  cursor: pointer;
  border-radius: 50%;
  padding: 4px 6px;
  color: #232323;
  transition: 0.3s;
}
#windows .packageInfo .header button i {
  position: relative;
  top: 1px;
}
#windows .packageInfo .header button:focus {
  background-color: rgba(128, 128, 128, 0.605);
}
#windows .packageInfo .header h1 {
  font-size: 15px;
}
#windows .packageInfo .main {
  height: 93vh;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
}
#windows .packageInfo .main .infoTitle {
  color: grey;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
#windows .packageInfo .main span {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}
#windows .packageInfoToggle {
  transform: translateX(0%);
}/*# sourceMappingURL=style.css.map */